body {

    color: #f7f7f7;  /* if you replace body with h2, then only those elements would be affected */
  }


  /* module 11.6.3*/
  .jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }